<!doctype html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
	<meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0,user-scalable=no" />
	<meta name="format-detection" content="telephone=no"/>
	<meta name="format-detection" content="email=no"/>
	<title>Document</title>
	<link rel="stylesheet" href="../css/style10.css">
</head>
<body>
	<div class="box">
		<header class="header">
			<img src="../img/112.png" alt="">
			<span>管理收货地址</span>
		</header>
		<section class="main">
			<ul>
				<li>
					<p>
						<span>收货人：龙蟠</span>
						<span>13896269687</span>
					</p>
					<p>收货地址：陕西省白塔区青年大街中泽城小区5#2301</p>
					<p>
						<img src="../img/88.png" alt="">
						<img src="../img/8.png" alt="">
					</p>
				</li>
				<li>
					<p>
						<span>收货人：龙蟠</span>
						<span>13896269687</span>
					</p>
					<p>收货地址：陕西省白塔区青年大街中泽城小区5#2301</p>
					<p>
						<img src="../img/88.png" alt="">
						<img src="../img/8.png" alt="">
					</p>
				</li>
				<li>
					<p>
						<span>收货人：龙蟠</span>
						<span>13896269687</span>
					</p>
					<p>收货地址：陕西省白塔区青年大街中泽城小区5#2301</p>
					<p>
						<img src="../img/88.png" alt="">
						<img src="../img/8.png" alt="">
					</p>
				</li>
			</ul>
			<div class="btn">增加收货地址</div>
		</section>
	</div>
	<script>
		document.documentElement.style.fontSize=document.documentElement.clientWidth/7.5+'px';
	</script>
</body>
</html>