<!doctype html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Document</title>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
	<meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0,user-scalable=no" />
	<meta name="format-detection" content="telephone=no"/>
	<meta name="format-detection" content="email=no"/>
	<title>Document</title>
	<link rel="stylesheet" href="../css/style13.css">
</head>
<body>
	<div class="box">
		<header class="header">
			<img src="img/112.png" alt="">
			<span>找回密码</span>
		</header>
		<section class="main">
			<div class="btn">
				<span>手机号找回</span>
				<span>邮箱找回</span>
			</div>
			<div class="tel_pwd">
				<input type="text" placeholder="请输入注册时所使用的手机号">
				<img src="img/9.png" alt="">
				<input type="text" placeholder="手机验证码">
				<img src="img/密码锁.png" alt="">
				<small>获取验证码</small>
			</div>
			<div class="lo_ce">
				<p>重置密码</p>
			</div>
			<div class="phone">
				<small>400-999-999</small>
			</div>
		</section>
	</div>
	<script>
		document.documentElement.style.fontSize=document.documentElement.clientWidth/7.5+'px';
	</script>
</body>
</html>