<link rel="stylesheet" href="css/style2.css">
	<div class="box">
		<header class="header">
			<span>韩国 ∨</span>
			<img src="./img/a1.png" alt="">
			<input type="text" placeholder="搜索最热门国家">
			<img src="./img/b1.png" alt="">
			<img src="./img/c1.png" alt="">
		</header>
		<section class="main" id="main" ng-controller="refresh">
			<div class="scroller">
				<div class="bo swiper-container">
					<ul class="swiper-wrapper">
						<li class="swiper-slide"><img src="./img/01_02.png" alt=""></li>
						<li class="swiper-slide"><img src="./img/01_02.png" alt=""></li>
						<li class="swiper-slide"><img src="./img/01_02.png" alt=""></li>
					</ul>
					<div class="swiper-pagination"></div>	
					<div class="para1">
						<p>一片海  一座城</p>
						<p>参与团购活动，<span>0元游马代</span></p>
					</div>
				</div>
				<h3>建筑与艺术&nbsp;&nbsp;<small>美国∨</small></h3>
				<div class="banner">
					<img src="./img/1111.png" alt="">
				</div>
				<div class="near">
					<img src="./img/plane.png" alt="">
					<section>
						<p><b>我的附近</b></p>
						<p>查看身边的门票、酒店、玩乐</p>
					</section>
				</div>
				<h3>发现精彩</h3>
				<div class="wonderful">
					<dl ui-sref="tuangou2_Page">
						<dt><img src="./img/q.png" alt=""></dt>
						<dd>结伴同行</dd>
					</dl>
					<dl>
						<dt><img src="./img/w.png" alt=""></dt>
						<dd>精彩游记</dd>
					</dl>
					<dl ui-sref="country_Page">
						<dt><img src="./img/e.png" alt=""></dt>
						<dd>出游榜</dd>
					</dl>
					<dl>
						<dt><img src="./img/r.png" alt=""></dt>
						<dd>旅游攻略</dd>
					</dl>
				</div>
				<h4>本周最热</h4>
				<div class="hot">
					<img src="./img/04_02.png" alt="">
					<em>即刻启程</em>
					<section>
						<p>￥5199<span>起</span></p>
						<p>立省￥1000</p>
					</section>
				</div>
				<div class="hot_para">
					<p>普吉岛甜蜜6或7日游</p>
					<p>3晚普吉岛酒店，2晚游泳别墅，2晚DIY...</p>
				</div>
				<div class="hot">
					<img src="./img/03_02.png" alt="">
					<em>即刻启程</em>
					<section>
						<p>￥5199<span>起</span></p>
						<p>立省￥1000</p>
					</section>
				</div>
				<div class="hot_para">
					<p>普吉岛甜蜜6或7日游</p>
					<p>3晚普吉岛酒店，2晚游泳别墅，2晚DIY...</p>
				</div>
				<h4>每日推荐</h4>
				<div class="every_introduce">
					<img src="./img/05_02.png" alt="">
					<img src="./img/06_02.png" alt="">
				</div>
			</div>
		</section>
		<footer class="footer">
			<a ui-sref="head_Page"><img src="./img/a2.png" alt=""><br>首页</a>
			<a ui-sref="tuijian_Page"><img src="./img/b2.png" alt=""><br>推荐</a>
			<a ui-sref="need_Page"><img src="./img/c2.png" alt=""><br>需求发布</a>
			<a ui-sref="tuangou_Page"><img src="./img/d2.png" alt=""><br>私人订制</a>
			<a ui-sref="list_Page"><img src="./img/e2.png" alt=""><br>我的</a>
		</footer>
	</div>