<!doctype html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
	<meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0,user-scalable=no" />
	<meta name="format-detection" content="telephone=no"/>
	<meta name="format-detection" content="email=no"/>
	<title>Document</title>
	<link rel="stylesheet" href="../css/style11.css">
</head>
<body>
	<div class="box">
		<header class="header">
			<img src="../img/112.png" alt="">
			<span>我的缓存</span>
		</header>
		<section class="main" id="main">
			<div class="scroller">
				<div class="top">
					<dl>
						<dt>
							<img src="../img/6t.png" alt="">
						</dt>
						<dd>
							<h3><b>澳洲</b></h3>
							<p>一个非常具有代表性的旅游胜地，在这里你可以观光，可以品味艺术，可以。。。。</p>
						</dd>
					</dl>
				</div>
				<div class="bottom">
					<h3>缓存景点</h3>
					<p>2</p>
					<ul>
						<li><img src="../img/7q.png" alt=""></li>
						<li><img src="../img/7w.png" alt=""></li>
						<li><img src="../img/7e.png" alt=""></li>
						<li><img src="../img/7r.png" alt=""></li>
						<li><img src="../img/7q.png" alt=""></li>
						<li><img src="../img/7e.png" alt=""></li>
					</ul>
				</div>
			</section>
			</div>
		<footer class="footer">
			<a ui-sref="head_Page"><img src="./img/a2.png" alt=""><br>首页</a>
			<a ui-sref="tuijian_Page"><img src="./img/b2.png" alt=""><br>推荐</a>
			<a ui-sref="need_Page"><img src="./img/c2.png" alt=""><br>需求发布</a>
			<a ui-sref="tuangou_Page"><img src="./img/d2.png" alt=""><br>私人订制</a>
			<a ui-sref="list_Page"><img src="./img/e2.png" alt=""><br>我的</a>
		</footer>
	</div>
	<script>
		document.documentElement.style.fontSize=document.documentElement.clientWidth/7.5+'px';
	</script>
	<script src="../js/iscroll5.js"></script>
	<script src="../js/js8.js"></script>
</body>
</html>