<!doctype html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Document</title>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
	<meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0,user-scalable=no" />
	<meta name="format-detection" content="telephone=no"/>
	<meta name="format-detection" content="email=no"/>
	<title>Document</title>
	<link rel="stylesheet" href="css/style12.css">
</head>
<body>
	<div class="box">
		<header class="header">
			<img src="img/112.png" alt="">
			<span>需求发布</span>
		</header>
		<section class="main">
			<ol>
				<li class="main_li">1、下列哪一项更符合您的要求<br>
					<small><i></i>找导游</small>
					<small><i></i>找人排队</small>
					<small><i></i>找代购</small>
					<small><i></i>找车辆</small>
					<small><i></i>找美食</small>
				</li>
				<li>2、您需要的服务地点在哪里？<br><input type="text"></li>
				<li>3、您需要的服务时间是？<br><input type="text"></li>
				<li>4、您需要的服务地点在哪里？<br><input type="text"></li>
				<li>5、您需要的服务时间是？<br><input type="text"></li>
			</ol>
		</section>
	</div>
	<script src="../js/base.js"></script>
	<script src="js/zepto.min.js"></script>
	<script src="js/js9.js"></script>
</body>
</html>