<!doctype html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
	<meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0,user-scalable=no" />
	<meta name="format-detection" content="telephone=no"/>
	<meta name="format-detection" content="email=no"/>
	<title>Document</title>
	<link rel="stylesheet" href="../css/style9.css">
</head>
<body>
	<header class="header">
		<img src="../img/112.png" alt="">
		<span>个人资料</span>
	</header>
	<section class="main">
		<div class="top">
			<img src="../img/0b_03.png" alt="">
			<p>
				<span>星期五</span><br>
				<small>五星会员</small>
			</p>
			<img src="../img/right.png" alt="">
		</div>
		<div class="bottom">
			<ul>
				<li>
					<span>手机号</span>
					<span>未设置</span>
					<img src="../img/right.png" alt="">
				</li>
				<li>
					<span>邮箱</span>
					<span>1922381382@qq.com</span>
					<img src="../img/right.png" alt="">
				</li>
				<li>
					<span>真实姓名</span>
					<span>张三</span>
					<img src="../img/right.png" alt="">
				</li>
				<li>
					<span>证件号码</span>
					<span>14262519930520****</span>
					<img src="../img/right.png" alt="">
				</li>
				<li>
					<span>邮箱</span>
					<span>12223313@qq.com</span>
					<img src="../img/right.png" alt="">
				</li>
				<li>
					<span>地址</span>
					<span>北京市海淀区北京八维研修学院</span>
					<img src="../img/right.png" alt="" ui-sref="address_Page">
				</li>
			</ul>
		</div>
	</section>
	<script>
		document.documentElement.style.fontSize=document.documentElement.clientWidth/7.5+'px';
	</script>
</body>
</html>