<!doctype html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
	<meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0,user-scalable=no" />
	<meta name="format-detection" content="telephone=no"/>
	<meta name="format-detection" content="email=no"/>
	<title>Document</title>
	<link rel="stylesheet" href="../css/style4.css">
</head>
<body>
	<div class="box">
		<header class="header">团购</header>
		<section class="main" id="main">
			<div class="scroller">
				<ul class="main_ul">
					<li class="bg">热门</li>
					<li>周边</li>
					<li>中国</li>
					<li>马尔代夫</li>
					<li>欧洲</li>
					<li>美洲</li>
					<li>韩国</li>
					<li>日本</li>
					<li>泰国</li>
					<li>东南亚</li>
					<li>南亚</li>
					<li>港澳</li>
					<li>中东非洲</li>
					<li>俄罗斯</li>
					<li>德国</li>
					<li>更多</li>
				</ul>
				<div class="left">
					<section class="banner">
						<img src="../img/5.png" alt="">
					</section>
					<h3>6月旅游3000起</h3>
					<ul>
						<li><img src="../img/6.png" alt=""></li>
						<li><img src="../img/7.png" alt=""></li>
						<li><img src="../img/10.png" alt=""></li>
						<li><img src="../img/11.png" alt=""></li>
					</ul>
					<h3>初夏甜蜜6000起</h3>
					<ul>
						<li><img src="../img/12.png" alt=""></li>
						<li><img src="../img/13.png" alt=""></li>
						<li><img src="../img/14.png" alt=""></li>
						<li><img src="../img/15.png" alt=""></li>
						<li><img src="../img/14.png" alt=""></li>
						<li><img src="../img/15.png" alt=""></li>
					</ul>
				</div>
			</div>
		</section>
		<footer class="footer">
			<a ui-sref="head_Page"><img src="../img/a2.png" alt=""><br>首页</a>
			<a ui-sref="tuijian_Page"><img src="../img/b2.png" alt=""><br>推荐</a>
			<a ui-sref="need_Page"><img src="../img/c2.png" alt=""><br>需求发布</a>
			<a ui-sref="tuangou_Page"><img src="../img/d2.png" alt=""><br>私人订制</a>
			<a ui-sref="list_Page"><img src="../img/e2.png" alt=""><br>我的</a>
		</footer>
	</div>
	<script src="../js/base.js"></script>
	<script src="../js/zepto.min.js"></script>
	<script src="../js/iscroll5.js"></script>
	<script src="../js/js4.js"></script>
</body>
</html>