
	<link rel="stylesheet" href="./css/style6.css">


	<div class="box">
		<header class="header">
			<span>私人订制</span>
			<img src="img/c1.png" alt="">
		</header>
		<section class="main" id="main" ng-controller="refresh">
			<div class="scroller">
				<section class="bo swiper-container" ng-controller="swiper">
					<ul class="swiper-wrapper">
						<li class="swiper-slide">
							<img src="img/001.png" alt="">
							<span>澳洲美景、歌剧任你挑1</span>
						</li>
						<li class="swiper-slide">
							<img src="img/001.png" alt="">
							<span>澳洲美景、歌剧任你挑2</span>
						</li>
						<li class="swiper-slide">
							<img src="img/001.png" alt="">
							<span>澳洲美景、歌剧任你挑3</span>
						</li>
					</ul>
					<div class="swiper-pagination"></div>
				</section>
				<section class="content">
					<p>每日精选</p>
					<p>2</p>
				</section>
				<ol>
					<li><img src="img/90.png" alt=""></li>
					<li><img src="img/91.png" alt=""></li>
					<li><img src="img/92.png" alt=""></li>
					<li><img src="img/93.png" alt=""></li>
					<li><img src="img/90.png" alt=""></li>
					<li><img src="img/92.png" alt=""></li>
				</ol>
			</div>
		</section>
		<footer class="footer">
			<a ui-sref="head_Page"><img src="./img/a2.png" alt=""><br>首页</a>
			<a ui-sref="tuijian_Page"><img src="./img/b2.png" alt=""><br>推荐</a>
			<a ui-sref="need_Page"><img src="./img/c2.png" alt=""><br>需求发布</a>
			<a ui-sref="tuangou_Page"><img src="./img/d2.png" alt=""><br>私人订制</a>
			<a ui-sref="list_Page"><img src="./img/e2.png" alt=""><br>我的</a>
		</footer>
	</div>
	
