<!doctype html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Document</title>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
	<meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0,user-scalable=no" />
	<meta name="format-detection" content="telephone=no"/>
	<meta name="format-detection" content="email=no"/>
	<title>Document</title>
	<link rel="stylesheet" href="css/style14.css">
</head>
<body>
	<div class="box">
		<header class="header">
			<img src="img/112.png" alt="">
			<span>注册</span>
		</header>
		<section class="main">
			<div class="condition">
				<p>
					<input type="text" placeholder="手机号码">
					<img src="../img/phone.png" alt="">
				</p>
				<p>
					<input type="text" placeholder="请输入右侧验证码">
					<span>69ZQ</span>
					<img src="../img/write.png" alt="">
				</p>
				<p>
					<input type="text" placeholder="请输入短信验证码">
					<span>发送验证码</span>
					<img src="../img/write.png" alt="">
				</p>
			</div>
			<div class="btn" ui-sref="login_Page">注册并登陆</div>
		</section>
	</div>
	<script>
		document.documentElement.style.fontSize=document.documentElement.clientWidth/7.5+'px';
	</script>
</body>
</html>